.doses-list {
  list-style: none;
  text-align: left;
}

.cocktail-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
    a {
    background-color: gray;
    border: none;
    a:hover {
      background-color: #0E77F3;
    }
  }
}
// .container {
//   display: flex;
//   text-align: center;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
// }
